/** @format */

.box {
	background: #0e1c69;
	height: 10rem;
	width: 20%;
	border-radius: 1rem;
	border: 0.3rem solid blanchedalmond;
}

.container {
	width: 90%;
	height: 40rem;
	background-color: aquamarine;
	border-radius: 2rem;
	border: 0.5rem solid purple;
	margin: auto;
}
.containertwo {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 7rem;
	text-align: center;
}

#task {
	margin-left: 20rem;
	width: 50%;
	border-radius: 0.5rem;
	margin-top: 2rem;
	height: 2rem;
	border: solid yellow 0.5rem;
}
