html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

.bg-container {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(22, 22, 48);
  color: #f3f3f3;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 0.5rem;
  margin-bottom: 3rem;
  background-color: rgb(22, 22, 48);
  padding-top: 1rem;
}

#header-title {
  text-align: center;
  margin-top: 0;
}

.header-icons {
  font-size: 1.35rem;
  cursor: pointer;
  letter-spacing: 1.5ch;
  display: flex;
}

.header-icons i{
  margin-top: 0.6rem;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1em;
  background-color: transparent;
  color: black;
  font-family: "Ubuntu", sans-serif;
  width: 85%;
}

input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.container {
  width: min(99%, 90.5rem);
  margin-inline: auto;
  min-height: 85%;
} 

#add-card {
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
} 

.parent-card{
  background-color: #cac7ff;
  width: 30%;
  color: black;
  height: 80vh;
}
.parent-card ul{
  list-style: none;
   
}

.plus-button{
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  background-color: #2b335f;
  color: white;
  font-size: 1.2rem;
}
.plus-button:hover{
  background-color: #343f7a;
  cursor: pointer;
}
h2{
  margin-left: 0.5rem;
}

.li-item {
border: 1px solid blueviolet;
background-color: rgb(184, 202, 219);
list-style: none;
padding: 0.4rem;
margin: 0.5rem;
}

.li-item.dragging{
  opacity: 0.5;
}

::placeholder {
  color:black;
  font-family:"Ubuntu", sans-serif;
}

.searchBar{
width: 100%;
display: flex;
align-items: center;
padding: 0px 8px;
border-radius: 60px;
background: rgba(255, 255, 255, 0.4);
margin: 2px 20px 12px 10px ;
}

.searchBar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 15px;
  font-size: 1rem;
  color: #cac7ff;
  margin: 0;
}

.searchBar button i{
  font-size: 15px;
  padding-bottom:15px;
}

.searchBar button{
  border: 0;
  border-radius: 50%;
  width: 35px;
  height: 37px;
  background: #2b335f;
  cursor: pointer;
}



